<!-- Alleen een witte "block" -->
<section class="block container">
  <div style="width: 30%">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, eius?
      </div>
    </div>
  </div>
</section>

<!-- Met alles erop en eraan: -->
<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis,
      aspernatur.
    </p>
  </header>
  <div style="width: 30%">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, eius?
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis,
      aspernatur.
    </p>
  </div>
</section>
