<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure obcaecati
    doloribus optio itaque adipisci atque excepturi cum placeat rerum totam?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <i
          class="fa-solid fa-bars fa-2xl quote__line"
          style="color: #791a3e"
        ></i>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Stijn Koopmans</h3>
        <p class="quot__company">ABC Company</p>
      </div>
    </div>
  </footer>
</blockquote>
